 .Employee_display {
  display: flex;
  flex-direction: row;
  overflow: auto;
} 
.Display_Employee {
    padding: 10px;
  }

.Display_Employee > div {
    border-radius: 60px 60px 10px 10px;
    height: 450px;
    background-color: rgb(238, 238, 249);
}
.card-img-top {
    height: 200px;
    border-radius: 60px 10px 60px 0px;
}
.card_footer {
    position: absolute;
    bottom: 0px;
}

.btn-primary {
    margin: 5px 5px 5px 0px;
    width: 250px;
}
.btn-danger {
    margin: 5px 5px 10px 0px;
    width: 250px;
}

.card-text {
    text-overflow: ellipsis;
}

.new_Employee{
    margin: 10px 10px 10px 50px;
    padding: 20px;
    border-radius: 10px;
    height: 450px;
    display: grid;
    place-items: center;
}

.add_svg{
    background-color:rgb(213, 213, 226);
    margin: 10px;
    display: grid;
    place-items: center;
    height: 250px;
    width: 250px;
    border-radius: 150px;
}
